.clappr-detach {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.clappr-detach--visible {
  display: block;
}

.clappr-detach__icon * {
  fill: #FFF;
}

.clappr-detach__placeholder-background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  opacity: 0.85;
  background-size: 100% 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.clappr-detach__placeholder-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 20%;
  height: 20%;
  cursor: pointer;

  transform: translate(-50%, -50%);
}

.clappr-detach__media-control-button[data-detach-media-control-selector] {
  display: block;
  cursor: pointer;
  float: right;
  border: 0;
  height: 100%;
  width: 22px;
}

.clappr-detach__draggable-area {
  position: fixed;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  pointer-events: none;
}

.clappr-detach--is-detached {
  position: fixed !important;
  z-index: 1;
}
